/SYNchat/nbproject/private/
/SYNchat/dist/
/SYNchat/build/
/SYNchatServer/nbproject/private/
SYNchatClient/nbproject/private/private.properties
/SYNchatClient/build/
/SYNchatClient/dist/
SYNchatClient/nbproject/private/private.properties
SYNchatClient/nbproject/private/private.properties
